@model IEnumerable<Accounts.ViewModels.AgentsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAgents.cshtml";
}




<div class="container">
    <div class="row">
        @await Html.PartialAsync("_NavPartial")
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                <form asp-controller="Agents" asp-action="UploadFile" method="post"
                  enctype="multipart/form-data">

                <input type="file" name="file" />
                <button type="submit"class="btn btn-sm btn-outline-secondary">Upload File</button>
            </form>
                </div>
            </div>
            
                <div class="table-responsive">
                    <form asp-controller="Agents" asp-action="ExportExcel" method="post"
                  >
                  <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="submit" value="Submit" class="btn btn-sm btn-outline-secondary">Export</button>
                  </div>
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Id Number</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                
                                <th>Phone Number</th>
                                <th>Subcounty</th>
                                <th>Ward</th>
                                <th>User Name</th>
                                
                               

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    <input type="checkbox" asp-for="@item.Selected" checked= "@item.Selected" />
                                    <input type="hidden" asp-for="@item.IdNumber" />
                                    <input type="hidden" asp-for="@item.FirstName" />
                                    <label asp-for="@item.Selected" type="hidden">@item.FirstName</label> 
                                    
                                    
                                </td>
                                <td>@item.IdNumber</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                
                                <td>@item.PhoneNumber</td>
                                <td>@item.SUBCOUNTY</td>
                                <td>@item.WARD</td>
                                <td>@item.UserName</td>
                                
                                <td>
                                    |
                                    
                                    <a asp-controller="Agents" asp-action="DeleteAgent" asp-route-id="@item.IdNumber">Delete</a>
                                </td>
                            </tr>
                                }
                            }

                        </tbody>
                    </table>
                    </form>
                </div>
            
            
        </main>
    </div>
</div>

