@model Accounts.Models.AppUsers

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutAgents.cshtml";
}

<h2>View</h2>

<div>
    <h4>Agents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SUBCOUNTY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SUBCOUNTY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WARD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WARD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VILLAGE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VILLAGE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TerminalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TerminalId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateRegistered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateRegistered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
